<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Qforte.Properties.Settings.Qforte_DBConnectionString"
            connectionString="Data Source=DESKTOP-BOTTGEF\SQLEXPRESS;Initial Catalog=Qforte_DB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Qforte.Properties.Settings.databaseConnectionString"
            connectionString="Data Source=DESKTOP-BOTTGEF\SQLEXPRESS;Initial Catalog=database;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>